<div>
  <table>
    <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Price</th>
          <th>Stock</th>
    </tr>
  </table>

  <list-item *ngFor = "let listItem of products" [data]="listItem"> </list-item>


</div>
